/* Bring in some basic properties for override */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-family:inherit;
    font-weight:200;
    line-height:1.1;
    color:inherit
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small,
h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small,
.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small{
    font-weight:100;
    line-height:1;
    color:#777
}

h1,.h1,h2,.h2,h3,.h3{
    margin-top:20px;
    margin-bottom:10px
}

h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,
h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small{
    font-size:65%
}

h4,.h4,h5,.h5,h6,.h6{
    margin-top:10px;
    margin-bottom:10px
}

h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,
h4 .small,.h4 .small,h5 .small,.h5 .small,h6 .small,.h6 .small{
    font-size:75%
}
h1,.h1{
    font-size:36px
}
h2,.h2{
    font-size:30px
}
h3,.h3{
    font-size:24px
}
h4,.h4{
    font-size:18px
}
h5,.h5{
    font-size:14px
}
h6,.h6{
    font-size:12px
}


/* Legacy overrides. TODO - sort through these and improve/clear*/
.my-list-style {
    margin-left: 0;
}

.aw-bottom {
    padding: 2em;
}

.aw-footer {
    margin-top: 2em;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    /* height: 250px;*/
    padding-top: 2em;
    padding-bottom: 2em;
}

.aw-footer li {
    line-height: 200%;
}

.summary {
    margin-bottom: 2em;
    margin-top: 2em;
    color: black;
}

.summary pre { display: none; }

.article-body {
    margin-top: 2em;
    color: black;
}

.article-title {
    margin-bottom: 1em;
}

.article-header {
    margin-bottom: 1em;
}

/* Customized background style for ele_mental */
.bg-ele-dark{
    background-color:#52799b
}

.bg-ele-medium{
    background-color:#cccccc
}



/**
 * Overrides of notebook CSS for static HTML export
**/
div.entry-content {
	overflow: visible;
	padding: 8px;
}

.inner_cell {
	width: 100%;
}

.input_area {
	padding: 0.2em;
}

a.heading-anchor {
	white-space: normal;
}

.rendered_html code {
	font-size: .8em;
}

pre.ipynb {
	color: black;
	background: #f7f7f7;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
	padding: 0;
	margin: 0px;
	font-size: 13px;
}

/* remove the prompt div from text cells */
.prompt {
	display: none;
}

/* remove horizontal padding from text cells, */
/* so it aligns with outer body text */
div.text_cell_render {
	padding: 0.5em 0em;
}

img.anim_icon {
	padding: 0;
	border: 0;
	vertical-align: middle;
	-webkit-box-shadow: none;
	-box-shadow: none;
}

div.collapseheader {
	width: 100%;
	background-color: #d3d3d3;
	padding: 2px;
	cursor: pointer;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Moved over from ipython.css and formatted*/

.pagination {
     margin:20px 0;
     text-align: center;
}
 .pag.pagination {
     margin:20px 0;
}
 .pagination ul {
    display:table;
    margin-left:0;
    margin-bottom:0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
}
 .pagination ul>li{
    display:inline;
}
 .pagination ul>li>a,.pagination ul>li>span{
    float:left;
    padding:4px 12px;
    line-height:20px;
    text-decoration:none;
    background-color:#ffffff;
    border:1px solid #dddddd;
    border-left-width:0;
}
 .pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{
    background-color:#f5f5f5;
}
 .pagination ul>.active>a,.pagination ul>.active>span{
    color:#999999;
    cursor:default;
}
 .pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{
    color:#999999;
    background-color:transparent;
    cursor:default;
}
 .pagination ul>li:first-child>a,.pagination ul>li:first-child>span{
    border-left-width:1px;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    border-top-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
}
 .pagination ul>li:last-child>a,.pagination ul>li:last-child>span{
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
}
 .pagination-centered{
    text-align:center;
}
 .pagination-right{
    text-align:right;
}
 .pagination-large ul>li>a,.pagination-large ul>li>span{
    padding:11px 19px;
    font-size:16.25px;
}
 .pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
}
 .pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
}
 .pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
}
 .pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topright:3px;
    border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius-bottomright:3px;
    border-bottom-right-radius:3px;
}
 .pagination-small ul>li>a,.pagination-small ul>li>span{
    padding:2px 10px;
    font-size:11.049999999999999px;
}
 .pagination-mini ul>li>a,.pagination-mini ul>li>span{
    padding:0 6px;
    font-size:9.75px;
}
 .pagination ul>li{
    display:inline;
}
 .pagination ul>li>a,.pagination ul>li>span{
    float:left;
    padding:4px 12px;
    line-height:20px;
    text-decoration:none;
    background-color:#ffffff;
    border:1px solid #dddddd;
    border-left-width:0;
}
 .pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{
    background-color:#f5f5f5;
}
 .pagination ul>.active>a,.pagination ul>.active>span{
    color:#999999;
    cursor:default;
}
 .pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{
    color:#999999;
    background-color:transparent;
    cursor:default;
}
 .pagination ul>li:first-child>a,.pagination ul>li:first-child>span{
    border-left-width:1px;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    border-top-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
}
 .pagination ul>li:last-child>a,.pagination ul>li:last-child>span{
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
}
 .pagination-centered{
    text-align:center;
}
 .pagination-right{
    text-align:right;
}
 .pagination-large ul>li>a,.pagination-large ul>li>span{
    padding:11px 19px;
    font-size:16.25px;
}
 .pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
}
 .pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
}
 .pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
}
 .pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topright:3px;
    border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius-bottomright:3px;
    border-bottom-right-radius:3px;
}
 .pagination-small ul>li>a,.pagination-small ul>li>span{
    padding:2px 10px;
    font-size:11.049999999999999px;
}
 .pagination-mini ul>li>a,.pagination-mini ul>li>span{
    padding:0 6px;
    font-size:9.75px;
}

/* Override all of page-header from bootstrap.min.css */

.page-header{
    padding-bottom:9px;
    margin:40px 0 20px;
    border-bottom:1px solid #a5adbc 
}
ul,ol{
    margin-top:0;
    margin-bottom:10px
}
ul ul,ol ul,ul ol,ol ol{
    margin-bottom:0
}
.list-unstyled{
    padding-left:0;
    list-style:none
}
.list-inline{
    padding-left:0;
    margin-left:-5px;
    list-style:none
}
.list-inline>li{
    display:inline-block;
    padding-right:5px;
    padding-left:5px
}
dl{
    margin-top:0;
    margin-bottom:20px
}
dt,dd{
    line-height:1.42857143
}
dt{
    font-weight:700
}
dd{
    margin-left:0
}
@media (min-width:768px){
    .dl-horizontal dt{
        float:left;
        width:160px;
        overflow:hidden;
        clear:left;
        text-align:right;
        text-overflow:ellipsis;
        white-space:nowrap
    }
    .dl-horizontal dd{
        margin-left:180px
    }
}
abbr[title],abbr[data-original-title]{
    cursor:help;
    border-bottom:1px dotted #777
}
